
:root {
	--primary-color: #eb7304 ;
	--background-color: #faf3e25b ;
	--dark-color: #221d19 ;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*      UTILIDAD      */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

.heading-2 {
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
}
